#pattern
#
#file/directory user

* @GSPune

*.js @shubhada10kunde @SIDDHESH9665 @GSPune 

*.py @GSPune

*.md  @GSPune @GANESHAHIRE1201

/Frontend/ @shubhada10kunde @SIDDHESH9665 @GSPune 
/Backend/ @GSPune
